{% extends 'base.html' %} {% block encabezado %}
<h1>Acceder a mi Cuenta</h1>
{% endblock %} {% block contenido %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %} {% if form.errors %}
  <div class="error">Por favor corrige los errores indicados abajo.</div>
  {% endif %}

  <div>{{ form.as_p }}</div>

  <div>
    <button type="submit">Iniciar sesión</button>
  </div>

  <p>
    <a href="{% url 'registration' %}">¿No tienes cuenta? Regístrate aquí.</a>
  </p>
</form>
{% endblock %}
