{% extends 'base.html' %}

{% block encabezado %}
<h1>Registrarse</h1>
{% endblock %}

{% block contenido %}
    <form method="post" action="{% url 'registration' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="error">Por favor corrige los errores indicados abajo.</div>
        {% endif %}

        <div>
            {{ form.as_p }}
        </div>

        <div>
            <button type="submit">Crear cuenta</button>
        </div>

        <p><a href="{% url 'login' %}">¿Ya tienes cuenta? Accede aquí.</a></p>
    </form>
{% endblock %}