{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NaturSur{% endblock title %}</title> 
    
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header>
        {% block header %}{% endblock header %}
        
        <div class="navbar-top">
            <div class="navbar-logo">
                <span class="logo-icon material-icons"></span> 
                Natursur
            </div>
            
            <div class="navbar-top-links">
                <nav class="navbar-static-links">
                    <a href="#">Sobre Natursur</a>
                    <a href="#">Contacto</a>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </nav>
                
                <a href="{% url 'view_cart' %}" class="btn-cesta">
                    <span class="material-icons">shopping_basket</span> 
                    Carrito
                    <span class="cesta-count">X</span>
                </a>
            </div>
        </div>

        <nav class="navbar-bottom">
            <a href="{% url 'home' %}" class="btn-nav">INICIO</a>
            <a href="{% url 'list_products' %}" class="btn-nav">PRODUCTOS</a>
            <a href="{% url 'services' %}" class="btn-nav">SERVICIOS</a>
            
            {% block auth_links %}{% endblock auth_links %}
        </nav>
    </header>

    <section class="main-content-section">
        {% block contenido %}{% endblock contenido %}
    </section>

    <footer class="footer">
        <div class="footer-content">
            <span class="footer-logo">Natursur</span>
            <span class="copyright">Copyright © 2025</span>
        </div>
        {% block pie %}{% endblock pie %}
    </footer>
</body>
</html>